---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Sass config file
// (you should comment this line and move config file from vendor/knacss folder to your own folder)
@import "_00-config";

// Sass base styles
@import "_01-base";

// Sass files : chose the ones you need
@import "_02-helpers"; // width and spacers visually classes
@import "_03-grids"; // grids and autogrids
@import "_04-tables";
@import "_05-forms";
@import "_06-icons"; // UTF-8 icons
@import "_07-flexbox";
@import "_08-rwd"; // Responsive Web Design helpers
@import "_09-print";
@import "_10-booleans"; // skip links and hyphens
@import "_11-gmaps"; // Google maps bugs fix
@import "_12-ie"; // IE6, IE7, IE8 support
@import "_13-styling"; // minor stylings

/* ----------------------------- */
/* ==own stylesheet              */
/* ----------------------------- */

/* Here should go your own CSS styles */
/* You can also link them with a Sass @import */
/* @import "my-styles"; */

/* Big Steps */
body { padding-top: 100px; }

header {
  background: $base-background;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

footer { background: $base-background; }

#step1 {
  background: url(../img/bg_step01.jpg) center 100% no-repeat fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
  background-size: cover;
  min-height: 700px;
}
#step2 {
  background: $secondary-background;
  .grid2 {
    margin: 0 auto;
  }
}
#step3 { background: url(../img/stamps.png) 98% 20px no-repeat $primary-background; }

#step4 {
  background: $primary-background;
  .grid2 {
    margin: 0 auto;
  }
}
#step5 {
  background: $secondary-background;
}


/* Elements */
.home {
  margin-top: $ultra-large-value;
}

.logo {
  font-family: "Contrail One", Helvetica, Arial, sans-serif;
  font-size: $h3-size;
  color: #F48DA0;
}

.h2emphase {
  font-family: "Contrail One", Helvetica, Arial, sans-serif;
  font-size: 54px;
  color: #F48DA0;
}

.h1subtitle {
  color: #fff;
  font-family: "Parisienne", Helvetica, Arial, sans-serif;
  font-size: 4.2rem;
  margin: 0;
  line-height: 1;
}

.h2subtitle {
  color: $base-color;
  font-family: "Parisienne", Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin: 0;
  text-transform: none;
  line-height: 1;
}

.btn {
  display: inline-block;
  padding: $small-value $medium-value;
  background: $button-active;
  border: 2px solid #fff;
  color: $darkcontext-color;
  &:hover, &:focus, &:active {
    background: $button-hover;
    color: $darkcontext-color;
  }
  text-transform: uppercase;
  font-weight: 700;
  font-size: $h5-size;
  margin-top: $h6-size;
}

.map {
  min-height: 720px;
  z-index: 0;
}

.invitation {
  text-align: center;
  background: $primary-background;
  padding: 40px;
}

.photo {
  border: 6px solid #fff;
  @include box-shadow(1px, 1px, 3px, #ddd);
}

.checklist {
  max-width: 640px;
  margin: 40px auto;
  background: $primary-background;
  border: 6px solid #fff;
  li {
    margin-bottom: $base-font-size;
  }
}

footer ul {
  list-style:none;
  padding:0;
  margin:0;
}


/* Media queries */
@media (max-width: $large-screen) {
  #step3 {
    background: $primary-background;
  }
}

@media (max-width: $medium-screen) {
  .grid2-1 > *:first-child,
  .grid2-1 > * + * { width:50%; }
}

@media (max-width: $small-screen) {
  body { padding-top: 0; }
  header { display: none; }
  .map { display: none; }
  .grid2-1 > *:first-child,
  .grid2-1 > * + * { width:100%; }
}
