---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Sass config file
// (you should comment this line and move config file from vendor/knacss folder to your own folder)
@import "_00-config";

// Sass base styles
@import "_01-base";

// Sass files : chose the ones you need
@import "_02-helpers"; // width and spacers visually classes
@import "_03-grids"; // grids and autogrids
@import "_04-tables";
@import "_05-forms";
@import "_06-icons"; // UTF-8 icons
@import "_07-flexbox";
@import "_08-rwd"; // Responsive Web Design helpers
@import "_09-print";
@import "_10-booleans"; // skip links and hyphens
@import "_11-gmaps"; // Google maps bugs fix
@import "_12-ie"; // IE6, IE7, IE8 support
@import "_13-styling"; // minor stylings

/* ----------------------------- */
/* ==own stylesheet              */
/* ----------------------------- */

/* Here should go your own CSS styles */
/* You can also link them with a Sass @import */
/* @import "my-styles"; */

/* Big Steps */
body { padding-top: 100px; }

header {
  background: $base-background;
  position: fixed;
  top: 0;
  width: 100%;
}

footer { background: $secondary-background; }

#step1 {
  background: $primary-background;
  min-height: 600px;
}
#step2 {
  background: $base-background;
  margin: 0 auto;
}
#step3 {
  background: $primary-background;
  min-height: 600px;
}
#step4 {
  background: $base-background;
  margin: 0 auto;
}
#step5 { background: $primary-background; }


/* Elements */
.home {
  margin-top: $ultra-large-value;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: $small-value $medium-value;
  background: $button-active;
  color: $darkcontext-color;
  &:hover, &:focus, &:active {
    background: $button-hover;
    color: $darkcontext-color;
  }
}

.map {
  background: $primary-background;
  min-height: 400px;
}


/* Media queries */
@media (max-width: $small-screen) {
  body { padding-top: 0; }
  header { display: none; }
}
