<footer id="footer" role="contentinfo" class="txtcenter pal">
  <div class="mbm">
    <h4 class="mbs">Des questions ?</h4>
    <ul class="contact-list">
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li><a href="mailto:elodie.fosseux@gmail.com">elodie.fosseux@gmail.com</a></li>
      <li><a href="tel:+33677372284">+33 6 77 37 22 84</a></li>
    </ul>
  </div>
</footer>

<script type="text/javascript" src="{{ "/js/jquery-1.11.1.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>
