<header id="header" role="banner" class="line pam">
  <div class="pas left">
    <a href="{{ site.baseurl }}/" class="pas inbl">{{ site.title }}</a>
  </div>
  <nav id="navigation" role="navigation" class="right">
    <ul class="pas">
      <li class="pas inbl"><a href="#step1">Where ?</a></li>
      <li class="pas inbl"><a href="#step2">Join us !</a></li>
      <li class="pas inbl"><a href="#step3">The hotel</a></li>
      <li class="pas inbl"><a href="#step4">Reservations</a></li>
      <li class="pas inbl"><a href="#step5">Checklist</a></li>
    </ul>
  </nav>
</header>
