<header id="header" role="banner" class="line pam pbs">
  <div class="pas left">
    <a href="{{ site.baseurl }}/" class="inbl logo">{{ site.title }}</a>
  </div>
  <nav id="navigation" role="navigation" class="right">
    <ul class="pas">
      <li class="pas inbl"><a href="#step1">Accueil</a></li>
      <li class="pas inbl"><a href="#step2">Invitation</a></li>
      <li class="pas inbl"><a href="#step3">Hôtel</a></li>
      <li class="pas inbl"><a href="#step4">Réservations</a></li>
      <li class="pas inbl"><a href="#step5">Checklist</a></li>
    </ul>
  </nav>
</header>
